.center-align {
    text-align:center;
    font-family: 'Playfair Display', serif;
  }
  
  .search-input {
    width: 88.5%;
    height:40px;
    font-size:14pt;
  }
  
  .center-elements {
    display:inline-block;
  }

  .search-suggestions {
    list-style-type:none;
    padding: 0;
    margin: 0;
    width:359px;
  }

  .search-suggestions a {
    font-size: 14px;
    text-decoration: none;
    color: black;
  }

  .list-results li {
    border: 1px solid #cccccc;
    border-top:none;
    padding: 15px 0px;
    margin: 0 auto;
    -webkit-appearance: textfield;
  }

  .list-results li:hover {
    background-color:#e2e0e0;
    cursor:pointer;
  }

  @media only screen and (max-width: 420px) {
    .search-suggestions {
      width: 90%;
    }
  }
